<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Limpeza Profunda</title>
        <meta charset="UTF-8">
        <meta name="description" content="Limpeza de estofados automotivos e móveis">
        <meta name="keywords" content="limpeza, estofados, ozonio, profunda, automotivo, sofás, sofa, móveis">
        <meta name="author" content="Limpeza Profunda">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Materialize Css-->
        <link rel="stylesheet" href="css/materialize.css">        
        <!--JQuery-->
        <script src="js/jquery.js"></script>
        <!--Materialize Icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Fontawesome-->
        <link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

        <style type="text/css">
            section
            {
                padding: 40px 0px 40px 0px;
                margin: 50px 0px 50px 0px;                
            }    
            .asset-top
            {
                position: relative;
                top:-40px;
            }   
            .asset-bottom
            {
                position: relative;
                bottom:-45px;
            }     
        </style>
    </head>
    <body style="background-color: #dbdbdb;">
        <div id="top-bar" class="">
            <div class="row green-lp" style="margin:5px">                  
                <div class="col s6">
                    <div class="">
                        
                    </div>                    
                </div>
                <div class="col m6 s12">
                    <div class="right-align">                        
                        <a class="btn green" href="#"><i class="fab fa-whatsapp fa-lg"></i></a>
                        <a class="btn green" href="#"><i class="fab fa-facebook fa-lg "></i></a>
                        <a class="btn green" href="#"><i class="fab fa-instagram fa-lg "></i></a>
                        <a class="btn green" href="#"><i class="fab fa-youtube fa-lg"></i></a>
                    </div>                    
                </div>                                                    
            </div>
        </div>
        <header>  

            <nav class="fixed" style="background-color: #080808d1;">
                <div class="nav-wrapper" >             
                  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>                      
                  <ul class="left hide-on-med-and-down">
                    <li><a href="sass.html">INÍCIO</a></li>
                    <li><a href="badges.html">SERVIÇOS</a></li>
                    <li><a href="collapsible.html">SOBRE NÓS</a></li>
                    <li><a href="mobile.html">TREINAMENTOS</a></li>
                    <li><a href="mobile.html">CONTATO</a></li>
                  </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li>
            </ul>                                                        

          <div>
            <div class="parallax-container" style="height: 50em">
                <div class="parallax">
                    <img src="img/banne1.png" alt="Crianças no sofá" class="responsive-img">              
                </div>
            </div>              
            <img src="img/assets/bottom-mask.png" class="responsive-img" style="margin-top: -100%;">              
          </div>
        </header>   
        
        <section id="services">
            <div class="container">
                <h1 class="green-lp center" style="font-weight:bold;">NOSSOS SERVIÇOS</h1>
                <h5 class="grey-text text-darken-3 center">LIMPEZA E HIGIENIZAÇÃO</h5>

                <div id="cards" class="row">
                    <div class="col s6">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="/img/Higienização.jpg">
                            </div>
                            <div class="card-content green-lp-bg">                            
                                <h3 class="white-text center">ESTOFADOS</h3>                           
                                
                            </div>
                            <div class="card-content">
                                <span>Copy...</span>
                            </div>
                            <div class="card-action">
                                <a href="#" class="green-text">Ver resultados</a>
                            </div>
                        </div>
                    </div>                    

                    <div class="col s6">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="/img/Ozonio.jpg">
                            </div>
                            <div class="card-content green-lp-bg">                            
                                <h3 class="white-text center truncate">OXI-SANITIZAÇÃO</h3>                           
                                
                            </div>
                            <div class="card-content">
                                <span>Copy...</span>
                            </div>
                            <div class="card-action">
                                <a href="#" class="green-text">Ver resultados</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s6">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="/img/veiculo.png">
                            </div>
                            <div class="card-content green-lp-bg">                            
                                <h3 class="white-text center truncate">VEÍCULOS</h3>                           
                                
                            </div>
                            <div class="card-content">
                                <span>Copy...</span>
                            </div>
                            <div class="card-action">
                                <a href="#" class="green-text">Ver resultados</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="/img/Colchão.png">
                            </div>
                            <div class="card-content green-lp-bg">                            
                                <h3 class="white-text center truncate">COLCHÕES</h3>                           
                                
                            </div>
                            <div class="card-content">
                                <span>Copy...</span>
                            </div>
                            <div class="card-action">
                                <a href="#" class="green-text">Ver resultados</a>
                            </div>
                        </div>
                    </div>
                </div>
 
            </div>
        </section>

        <section id="about" class="grey darken-4">
            <img src="/img/assets/top-mask-default.png" class="responsive-img asset-top">
            <div class="container">
                <h1 class="green-lp center" style="font-weight:bold;">SOBRE NÓS</h1>
                <span class="white-text center">Copy...</span>
            </div>
            <img src="/img/assets/bottom-mask-default.png" class="responsive-img asset-bottom">
        </section>

        <section id="comments">        
            <div class="container">
                <h1 class="green-lp center" style="font-weight:bold;">COMENTÁRIOS</h1>
                <h5 class="grey-text text-darken-4 center">O QUE DIZEM SOBRE NÓS?</h5>
                <div class="row">
                    <div class="col s1" style="padding-top: 15%;">                                                
                        <a href="prev" class="movePrevCarousel"><img src="/img/assets/seta-left.png" class="responsive-img"></a>
                    </div>
                    <div class="carousel carousel-slider col s10">
                        <a class="carousel-item" href=""><img src="/img/coments/Captura de tela 2020-12-23 095424.png"></a>
                        <a class="carousel-item" href=""><img src="/img/coments/Captura de tela 2020-12-23 095456.png"></a>
                        <a class="carousel-item" href=""><img src="/img/coments/Captura de tela 2020-12-23 095531.png"></a>
                    </div>
                    <div class="col s1" style="padding-top: 15%;">
                        <a href="prev" class="moveNextCarousel"><img src="/img/assets/seta-right.png" class="responsive-img"></a>
                    </div>
                </div>
            </div>            
        </section>

        <section id="course" class="grey darken-4">
            <img src="/img/assets/top-mask-default.png" class="responsive-img asset-top">
            <div class="container">
                <h1 class="green-lp center" style="font-weight:bold;">TREINAMENTO</h1>
                <span class="white-text center">Copy...</span>
            </div>
            <img src="/img/assets/bottom-mask-default.png" class="responsive-img asset-bottom">
        </section>

        <!--Java and Jquery-->
        <!--Materialize Js-->
        <script src="js/materialize.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.sidenav').sidenav();
                $('.parallax').parallax();
                $('.carousel.carousel-slider').carousel({fullWidth: true});

                //move next carousel
                $('.moveNextCarousel').click(function(e){
                    e.preventDefault();
                    e.stopPropagation();
                    $('.carousel').carousel('next');
                });

                // move prev carousel
                $('.movePrevCarousel').click(function(e){
                    e.preventDefault();
                    e.stopPropagation();
                    $('.carousel').carousel('prev');
                });

            });
        </script>
    </body>
</html>